<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GStreamer Practice.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Tutorial 1 alt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Tutorial 1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Tutorial 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F51403CE1E51ED35007D8A96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F533FD751E5F1F4500262463</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F58336DD1E54941B00BFAF60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F58336E81E54947F00BFAF60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F58336F71E54A56000BFAF60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
